body{
    background-color: #404142;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
h1{
    color:  #404142;
}
.container{
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(230, 226, 223, 0.8);
    text-align: center;
    border-radius: 24px;
}

input{
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #f7ac0d;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 25px;
    transition: 0.25s;
}
input:focus{
    width: 270px;
    border-color: #f7810d;
}
button{
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid  #f7ac0d;
    padding: 14px 40px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 25px;
    transition: 0.25s;
    cursor: pointer;
}
button:hover{
    background: #f7810d;
}
.returnButton{
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #f7ac0d;
    padding: 14px 40px;
    width: 200px;
    outline: none;
    color: #f30d0d;
    border-radius: 25px;
    transition: 0.25s;
    cursor: pointer;
}

.error{
    text-align: center;
    color: red;
}